langchain-text-splitters
langchain-community
langgraph
dotenv
langchain-openai
langchain-core
langchain-ollama
bs4
langchain_google_vertexai
qdrant-client
langchain-qdrant>=0.0.1
redis
fastapi
uvicorn
pypdf